---
layout: archive
title: "Full Publications"
permalink: /publications/
author_profile: true
---

<details>
  <summary>👈 Click to expand (<span style="color: red;">Red</span> for conference, and <span style="color: blue;">Blue</span> for journal)</summary>
  <h3>Year 2025</h3>
  <ol>
    <!-- 2025 年 -->
    <li><strong style="color: red;">[IWQoS]</strong> PASTA: Training Acceleration for Vertical Federated
      Learning via Adaptive Pipeline Parallelism<br>T. Wu, <b>W. Liu,</b> H. Liang, Z. Zhan, J. Duan, C. Wu, J. Zuo, X. Chen, X. Zhang, 2025.</li>

    <li><strong style="color: red;">[ICDCS]</strong> TACO: Tackling Over-correction in Federated Learning with Tailored Adaptive Correction<br><b>W. Liu,</b> Z. Zhan, C. Joe-Wong, E. Ngai, J. Duan, D. Guo, X. Chen, X. Zhang, 2025.</li>
  </ol>
    <!-- 2024 年 -->
    <h3>Year 2024</h3>
  <ol>
    <li><strong style="color: red;">[MSN]</strong> FedMoE-DA: Federated Mixture of Experts via Domain Aware Fine-grained Aggregation<br> Z. Zhan, W. Zhao, Y. Li, <b>W. Liu,</b> X. Zhang, C. Tan, C. Wu, D. Guo, X. Chen, 2024.</li>

    <li><strong style="color: red;">[IWQoS]</strong> Adaptive Personalized Federated Learning for Non-IID Data with Continual Distribution Shift<br> S. Chen, <b>W. Liu,</b> X. Zhang, H. Xu, W. Lin, X. Chen, 2024.</li>

    <li><strong style="color: red;">[ECAI]</strong> FedReMa: Improving Personalized Federated Learning via Leveraging the Most Relevant Clients<br> H. Liang, Z. Zhan, <b>W. Liu,</b> X. Zhang, C. Tan, X. Chen, 2024.</li>
  </ol>
    <!-- 2023 年 -->
    <h3>Year 2023</h3>
  <ol>
    <li><strong style="color: blue;">[TMC]</strong> DYNAMITE: Dynamic interplay of mini-batch size and aggregation frequency for federated learning with static and streaming datasets<br> <b>W. Liu,</b> X. Zhang, J. Duan, C. Joe-Wong, Z. Zhou, X. Chen, 2023.</li>

    <li><strong style="color: red;">[IWQoS]</strong> AdaCoOpt: Leverage the interplay of batch size and aggregation frequency for federated learning<br> <b>W. Liu,</b> X. Zhang, J. Duan, C. Joe-Wong, Z. Zhou, X. Chen, 2023.</li>

    <li><strong style="color: red;">[INFOCOM WKSHPS]</strong> Federated Learning at the Edge: An Interplay of Mini-batch Size and Aggregation Frequency<br> <b>W. Liu,</b> X. Zhang, J. Duan, C. Joe-Wong, Z. Zhou, X. Chen, 2023.</li>    
  </ol>
</details> 
<br>
{% if site.author.googlescholar %}
  <div class="wordwrap"> <a href="{{site.author.googlescholar}}">Google scholar</a> :book: .</div> <hr />
{% endif %}

<h1>Selected publications</h1>


{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <!-- <h2>{{ category[1].title }}</h2><hr /> -->
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



